html, body {
  height: 100%;
}

/* Containers */

.container {
  display: flex;
  flex-direction: row; /* This is a default property */
  flex-wrap: wrap;
}


.col {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: flex;
}

/* Borders/Padding */
.padding {
  padding-left: 0.10rem;
  padding-right: 0.10rem;
  padding-bottom: 0.10rem;
  padding-top: 0.10rem;
}

/* Colors */
.yblue {
  background-color: #083D77;
}

.beige {
  background-color: #EBEBD3;
}

.nyellow {
  background-color: #F4D35E;
}

.sbrown {
  background-color: #EE964B;
}

.tomato {
  background-color: #F95738;
}

.grey {
  background-color: #eee;
}

.white {
  color: #fff;
}

/* Rounded Corners */
.rounded-corners {
  border-radius: 0.25rem;
}


/* Components */

.side-bar {
  position: fixed;
  width: 8rem;
  min-height: 100vh;
}

.side-bar a {
  color: black;
  display: block;
  padding: 0.75rem;
  text-decoration: none;
}

.side-bar a:hover {
  background-color: #04AA6D;
}

.side-bar a.active {
  background-color: #EBEBD3;
  color: white;
}