html, body {
  height: 100%;
}

/* Containers */

.container {
  display: flex;
  flex-direction: row; /* This is a default property */
  flex-wrap: wrap;
}
.col {
  width: 100%;
}
.row {
  display: flex;
  flex-direction: flex;
}

/* Colors */
.yblue {
  background-color: #083D77;
}

.beige {
  background-color: #EBEBD3;
}

.nyellow {
  background-color: #F4D35E;
}

.sbrown {
  background-color: #EE964B;
}

.tomato {
  background-color: #F95738;
}

.white {
  color: #fff;
}

.title {
  min-width: 100%;
}


/* Components */


/* Components */

/* .side-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  white-space: nowrap;
  height: 100vh;
  padding: 1rem;
  list-style-type: circle;
} */

.side-bar {
  position: fixed;
  width: 8rem;
  min-height: 100vh;
  background-color: #eee;
}

.side-bar a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 0.75rem;
  text-decoration: none;
}

.side-bar a:hover {
  background-color: #04AA6D;
}

.side-bar a.active {
  background-color: #EBEBD3;
  color: white;
}