/* Colors */
.yblue {
  background-color: #083D77;
}

.beige {
  background-color: #EBEBD3;
}

.nyellow {
  background-color: #F4D35E;
}

.sbrown {
  background-color: #EE964B;
}

.tomato {
  background-color: #F95738;
}

.grey {
  background-color: #eee;
}

.white {
  color: #fff;
}

.green {
  color: #04AA6D
}

/* Rounded Corners */
.rounded-corners {
  border-radius: 0.25rem;
}

input:hover {
  cursor: pointer;
  border: 0.188rem solid #04AA6D;
  box-shadow: 0 0 1px 1px #04AA6D;
}

input, textarea, select {
  padding: 0.2rem;
  font-size: 1rem;
  outline: #04AA6D;
  cursor: pointer;
}

/* Components */

.side-bar {
  position: absolute;
  width: 8rem;
  min-height: 100vh;
  left: 0;
  top: 0;
}


.side-bar a {
  color: black;
  display: block;
  padding: 0.75rem;
  text-decoration: none;
}

.side-bar a:hover {
  background-color: #04AA6D;
}

.side-bar a.active {
  background-color: #EBEBD3;
  color: white;
}

button {
  background-color: #04AA6D;
  color: white;
  font-family: 'Montserrat', 'sans-serif';
  font-size: 1rem;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 2px 2px rgb(0, 0, 0, 0.5);
}

.Component-Element-Container {
  border-style: groove;
  background-color:rgb(232,232,232)
}